
 <!-- Start Navbar -->
  <div class="bg">
    <div class="container">
      <nav class="navbar navbar-default navbar-fixed-top" data-fullwidth="true" data-menu-style="transparent" data-animation="shrink">
        <div class="navbar transparent navbar-inverse navbar-header">
          <div class="navbar-inner">
            <div id="navbar-main">
                <div class="navbar-brand"><img src="/img/settings-yellow-coral.png" class="logo-light" alt="#" id="loadingIcon">
                   
                    <form method="post" action="/login" name="login-form" id="login" class="nav navbar-nav form-group">
                    
                      <input type="text" placeholder="Username" name="username" id="username" STYLE="color: black; background-color: #FFFFFF;">
                      
                      <input type="password" placeholder="Password" name="password" id="password">
                  
                      <button class="btn btn-sm btn-light" href="/dashboard" type="submit" id="login-button" value="login" name="save" action="/login" method="post">Login</button>
                     
                  </form>
                
              </div>
            </div>
          </div>
        </div>
    </nav>

    <div class="row">
    <div id="message" class="col-md-6">

    <h1>WELCOME</h1><br><br>
    <article>
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
        culpa qui officia deserunt mollit anim id est laborum."</p>
    </article>
            <form class="sign-up" action="#">
                <div class="form__group">
                    <input type="text" placeholder="Company Name" class="form__input" />
                </div>
                <div class="form__group">
                    <input type="text" placeholder="Your Name" class="form__input" />
                </div>
                <div class="form__group">
                    <input type="email" placeholder="Email" class="form__input" />
                </div>
                <div class="form__group">
                    <input type="password" placeholder="Password" class="form__input" />
                </div>
        
                <button id="register-button" href="/dashboard" type="submit" class="btn btn-sm btn-light" value="login" action="/dashboard" method="post">Sign Up</button>
              
            </form>
        </div>
            
    </div>
</div>
</div>
<!-- End Navbar -->
<div id="loading"></div>
</div>







