<main id="upload">
  <section class="">
    <div class="container">
      <div class="col-xs-12"></div>
    </div>
  </section>
  <br><br>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-xs-6  upload-form">
          <h3><strong>Fill In The Report Details & Upload Your File</strong></h3><br>
<<<<<<< HEAD
          <form action="/upload" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <label for="filename"><strong>File Name</strong></label>
              <input type="text" class="form-control" id="filename" name="filename" placeholder="File Name" required>
            </div>
            <div class="form-group">
              <label for="filetype"><strong>File Type</strong></label>
              <input type="text" class="form-control" id="filetype" name="filetype" placeholder="A/R, A/P, Sales, etc." required>
            </div>
            <div class="form-group">
              <label for="data"><strong>File</strong></label>
              <input type="file" name="data" id="data" required>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
=======
              <form action="/upload" method="post">
                <div class="form-group">
                    <label><strong>File Name</strong></label>
                    <input type="text" name="fileName" class="form-control" id="exampleInputEmail1" placeholder="File Name">
                </div>
                <div class="form-group">
                    <label><strong>File Type</strong></label>
                    <input type="text" name="filetype" class="form-control" id="exampleInputPassword1" placeholder="A/R, A/P, Sales, etc.">
                </div>
                <div class="form-group">
                    <label><strong>Report Name</strong></label>
                    <input type="text" name="reportName" class="form-control" id="exampleInputPassword1" placeholder="A/R, A/P, Sales, etc.">
                </div>
                <div class="form-group">
                    <label><strong>Uploaded By:</strong></label>
                    <input type="text" name="userID" class="form-control" placeholder="Your Name">
                </div>
                </form>
          </div>
          <div class="col-xs-6 dropbox">
            <form id="uploadForm" action="/upload" enctype="multipart/form-data" method="post">
            <input type="file" name="data">
            <input type="submit" value="Upload File" name="submit">
            </form>
          </div>
>>>>>>> 6c9e1381c8c132a50a46f2cc94e73e7b6e24ac8c
        </div>
      </div>
    </div>
  </section>
</main>