<main id="upload">
  <section class="">
    <div class="container">
      <div class="col-xs-12"></div>
    </div>
  </section>
  <br><br>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-xs-6  upload-form">
          <h3><strong>Fill In The Report Details & Upload Your File</strong></h3><br>
          <form action="/upload" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <label for="filename"><strong>File Name</strong></label>
              <input type="text" class="form-control" id="filename" name="filename" placeholder="File Name" required>
            </div>
            <div class="form-group">
              <label for="filetype"><strong>File Type</strong></label>
              <input type="text" class="form-control" id="filetype" name="filetype" placeholder="A/R, A/P, Sales, etc." required>
            </div>
            <div class="form-group">
              <label for="data"><strong>File</strong></label>
              <input type="file" name="data" id="data" required>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>